  <div class="footer">
    <div class="contact">
      <p>
        Preeti Singh<br />
        Student at <a href="http://carey.jhu.edu/">Carey Business School</a><br />
        Graduate Program / Design Leadership (MBAMA) - MICA / John Hopkins Carey Business School</a><br />
        
      </p>
    </div>
    <div class="contact">

        <a href="http://github.com/preiti/">github.com/preiti</a><br />
        <a href="http://twitter.com/preiti15/">twitter.com/preiti15</a><br />
		preiti15@gmail.com

      </p>
    </div>
  </div>
</div>
<a href="http://github.com/preiti/blog"><img style="position: absolute; top: 0; right: 0; border: 0;" src="images/mapinspiration02.jpg" alt="Clone me from GitHub" /></a>

<!-- ClickTale Bottom part -->
<div id="ClickTaleDiv" style="display: none;"></div>
<script type="text/javascript">
if(document.location.protocol!='https:')
  document.write(unescape("%3Cscript%20src='http://s.clicktale.net/WRb.js'%20type='text/javascript'%3E%3C/script%3E"));
</script>
<script type="text/javascript">
if(typeof ClickTale=='function') ClickTale(206,0.3,"www03");
</script>
<!-- ClickTale end of Bottom part -->

<!-- Google Analytics -->
<script type="text/javascript">
var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
</script>
<script type="text/javascript">
var pageTracker = _gat._getTracker("UA-6016902-1");
pageTracker._trackPageview();
</script>
<!-- Google Analytics end -->

</body>
</html>
