  <div class="footer">
    <div class="contact">
      <p>
        Amy Lee Walton<br />
        Designer at <a href="http://mapbox.com/">Mapbox</a><br />
        Instructor at <a href="http://www.mica.edu/Programs_of_Study/Graduate_Programs/Design_Leadership_(MBAMA).html">MICA / John Hopkins Carey Business School</a><br />
        
      </p>
    </div>
    <div class="contact">
      <p>
        <a href="http://amyleewalton.com/">amyleewalton.com</a><br />
        <a href="http://github.com/amyleew/">github.com/amyleew</a><br />
        <a href="http://twitter.com/amyleew/">twitter.com/amyleew</a><br />
		amyleewalton (at) gmail (dot) com
      </p>
    </div>
  </div>
</div>

<a href="http://github.com/amyleew/blog-template"><img style="position: absolute; top: 0; right: 0; border: 0;" src="images/cloneme.png" alt="Clone me from GitHub" /></a>

<!-- ClickTale Bottom part -->
<div id="ClickTaleDiv" style="display: none;"></div>
<script type="text/javascript">
if(document.location.protocol!='https:')
  document.write(unescape("%3Cscript%20src='http://s.clicktale.net/WRb.js'%20type='text/javascript'%3E%3C/script%3E"));
</script>
<script type="text/javascript">
if(typeof ClickTale=='function') ClickTale(206,0.3,"www03");
</script>
<!-- ClickTale end of Bottom part -->

<!-- Google Analytics -->
<script type="text/javascript">
var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
</script>
<script type="text/javascript">
var pageTracker = _gat._getTracker("UA-6016902-1");
pageTracker._trackPageview();
</script>
<!-- Google Analytics end -->

</body>
</html>